<body class="body">

  <div class="warningDiv">
  <p class="pleaseAddWarning" *ngIf="(employees | json ) == '[]'">Please add employees in the Employees Tab above</p>
</div>

<main class="main" *ngIf="(employees | json ) !='[]'">

  <h2 class="h2" >
    <!-- <div class="selectionDiv">
    Worksite </div>
      <div class="selection">worksite 1</div>


    <div class="selectionDiv">Department and Manager</div>
    <div class="selection"> manager</div>



    <div class="selectionDiv">Employee</div>
    <div class="selection"> Employee 1</div> -->


  </h2>


  <h2 class="h2">
    Please Select a {{titleId}}


    <div *ngFor="let employee of employees | unique: 'department'">
      <div>{{this.employee.department}}</div>
      <!-- <div>Manager: {{this.department.manager}}</div> -->

    </div>

    <div>

      <div id="WorksitePlacement" *ngFor="let employee of employees | unique: 'location' ">

        <button class="selectBtn">{{employee.location}}</button>
      </div>
      <div id="WorksitePlacement">

        <button class="selectBtn">All Locations</button>
      </div>
    </div>
      <h2 class="h2"></h2>


  </h2>
</main>
