.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}


.leftContainerDiv {
  display: flex;

  justify-content: flex-start;
}

.searchDiv {
  display: flex;
  flex-direction: row;
}

.rightContainerDiv {
  display: flex;
  justify-content: flex-end;

}
