<body class="body">
  <div class="navbar_div">
    <div class="navbarBtnDiv">
      <div class="borderDiv1"><button class="navbarBtn1"><img class="navbar-icon" src="/assets/images/inventory-icon.png" alt="inventory-icon">Inventory</button></div>
      <div class="borderDiv2"><button class="navbarBtn2"><img class="navbar-icon" src="/assets/images/truck-icon.png" alt="truck-icon">Trailers</button></div>
      <div class="borderDiv1"><button class="navbarBtn1">button3</button></div>
    </div>

      <h1 class="h1">
        <div><img src="/assets/images/logo-icon.png" alt="logo"></div>
        <br>
        <div>Welcome</div>

      </h1>

    <div class="navbarBtnDiv">
      <div class="borderDiv1"><button class="navbarBtn1"><img class="navbar-icon" src="/assets/images/employees-icon.png" alt="employees-icon">Employees</button></div>
      <div class="borderDiv2"><button class="navbarBtn2"><img class="navbar-icon" src="/assets/images/maintenance-icon.png" alt="maintenance-icon">Maintenance</button></div>
      <div class="borderDiv1"><button class="navbarBtn1"><img class="navbar-icon" src="/assets/images/settings-icon.png" alt="settings-icon">settings</button></div>
    </div>
  </div>

  <h3 class="logout-h3">
    <div><div class="logoutL"></div>
    <div class="logoutL2"></div>
  </div>
    <div class="top_spacel"></div>
    <div class="return_h3_divl"></div>
    <div class="logoutDiv">
    <button class="logoutBtn" type="button">Logout</button>
    </div>
    <div class="return_h3_divr"></div>
    <div class="top_spacer"></div>
    <div class="logoutR"></div>
  </h3>

  <div class="bottom-space"></div>
</body>
