<h1>Employees</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Employee</a>
<p *ngIf="(employees | json ) == '[]'">There are currently no Employees</p>
<!-- <div class="cardContainer" *ngIf="(employees | json ) !='[]'"> -->

<!-- <div *ngFor="let employee of employees" class="employeeCard">
  <div>
  <div class="employeeName">{{employee.firstName}} {{employee.lastName}}</div>
  <div class="jobTitle">{{employee.jobTitle}}</div>
  <div>Department: {{employee.department}}</div>
  <div>Reports to: {{employee.manager}}</div>
  <div>Main location: {{employee.location}}</div>

<div style="white-space: nowrap">
  <a routerLink="edit/{{employee.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
  <button (click)="deleteEmployee(employee.id)" class="btn btn-sm btn-danger btn-delete-employee" [disabled]="employee.isDeleting">
      <span *ngIf="employee.isDeleting" class="spinner-border spinner-border-sm"></span>
      <span *ngIf="!employee.isDeleting">Delete</span>
  </button>
</div>
<div *ngIf="!employees">
<div colspan="4" class="text-center">
  <span class="spinner-border spinner-border-lg align-center"></span>
</div>
</div>
</div>
</div>
</div> -->


<table class="table table-striped" *ngIf="(employees | json ) !='[]'">
    <thead>
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Job Title</th>
            <th style="width: 30%">Department</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.firstName}} {{employee.lastName}}</td>
            <td>{{employee.jobTitle}}</td>
            <td>{{employee.department}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{employee.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-sm btn-danger btn-delete-employee" [disabled]="employee.isDeleting">
                    <span *ngIf="employee.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!employee.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!employees">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
</table>
