<body class="body">



<main class="main">

  <h2 class="h2">
    <div class="selectionDiv">
    Worksite </div>
      <div class="selection">worksite 1</div>


    <div class="selectionDiv">Department and Manager</div>
    <div class="selection"> manager</div>



    <div class="selectionDiv">Employee</div>
    <div class="selection"> Employee 1</div>


  </h2>


  <h2 class="h2">
      Please Select a {{titleId}}

      <ul id="WorksitePlacement">


      </ul>
      <!-- <menu id="worksiteAddRemMenu">
          <button type="button" name="worksiteAddButton" id="worksiteAddButton">&plus;</button>
          <form action="" id="worksiteAdd" class="worksiteAddForm">
          <input type="text" id="worksiteAddTitle" placeholder="Add Worksite Name">
          <div class="cancelSubmitButtons">
          <button type="button" id ="worksiteAddCancel">Cancel</button>
          <button type="submit" id="worksiteAddSubmit">Submit</button></div>
          </form>
      </menu> -->



      <button type="button" class="AddEditRemoveBtn">Add, Edit, Remove</button>

      <!-- <button type="button"
      id="worksiteEditBtn"
      id="worksiteEditButton">i</button>

      <button type="submit" id="worksiteRemBtn" id="worksiteRemButton">&minus;</button> -->


  </h2>

  <h2 class="h2"></h2>
  <!-- <h2 class="h2" id="Dept-Managerh2">
      Please Select a Department/Manager

      <ul id="DepartmentPlacement">


      </ul>


      <button type="button" id="deptManagerAddRemButton">Add, Edit, Remove</button>
  </h2>



  <h2 class="h2" id="Employeeh2">
      Please Select an Employee

      <ul id="EmployeePlacement">


      </ul>



      <button type="button" id="employeeAddRemButton">Add, Edit, Remove</button>
  </h2>
</main> -->

