<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" id="departments" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="mb-3 col">
        <label class="form-label">Department
        <input type="text" formControlName="departmentName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['departmentName'].errors }" /></label>
        <div *ngIf="submitted && f['departmentName'].errors" class="invalid-feedback">
            <div *ngIf="f['departmentName'].errors['required']">Department is required</div>
        </div>
      </div>
    </div>

    <div class="mb-3 col">
      <label class="form-label">Manager
      <input type="text" formControlName="manager" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['manager'].errors }" /></label>
      <div *ngIf="submitted && f['manager'].errors" class="invalid-feedback">
          <div *ngIf="f['manager'].errors['required']">Manager is required</div>

    </div>
  </div>


    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/departments" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>
