<h1 style="display: flex; justify-content: space-between;">Departments
  <a routerLink="/settings" routerLinkActive="active" style="margin-top: 2px;" class="btn btn-sm btn-outline-secondary mb-2">Back to Settings</a>
</h1>
<a routerLink="/departments/add" class="btn btn-sm btn-success mb-2">Add Department</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 45%">Department</th>
            <th style="width: 45%">Manager</th>
        </tr>
    </thead>
    <tbody>



 <tr *ngFor="let department of departments">
            <td>{{department.departmentName}}</td>
            <td>{{department.manager}}</td>

            <td style="white-space: nowrap">
                <a routerLink="edit/{{department.id}}" class="btn btn-sm btn-primary me-1">Edit</a>

                <button (click)="deletedepartment(department.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="department.isDeleting">
                    <span *ngIf="department.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!department.isDeleting">Delete</span>
                </button>
            </td>
         </tr>
         <tr *ngIf="!departments || departments==[]">
            <td colspan="4" class="text-center">
                <!-- <span
                 class="spinner-border spinner-border-lg align-center"
                 > -->
                 <span>Please Add Department
                </span>
            </td>
        </tr>
    </tbody>
</table>


