<h1>locations works</h1>
<h1 style="display: flex; justify-content: space-between;">Locations
  <a routerLink="/settings" routerLinkActive="active" class="btn btn-sm btn-outline-secondary mb-2">Back to Settings</a>
</h1>
<a routerLink="/locations/add" class="btn btn-sm btn-success mb-2">Add Location</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 90%">Location</th>
        </tr>
    </thead>
    <tbody>



 <tr *ngFor="let location of locations">
            <td>{{location.locationid}}</td>

            <td style="white-space: nowrap">
                <a routerLink="edit/{{location.locationid}}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteLocation(location.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="location.isDeleting">
                    <span *ngIf="location.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!location.isDeleting">Delete</span>
                </button>
            </td>
         </tr>
         <tr >
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>


<!--
<app-locations-add-edit></app-locations-add-edit> -->
