<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" id="locations" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="mb-3 col">
        <label class="form-label">Location
        <input type="text" formControlName="locationName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['locationName'].errors }" /></label>
        <div *ngIf="submitted && f['locationName'].errors" class="invalid-feedback">
            <div *ngIf="f['locationName'].errors['required']">Location is required</div>
        </div>
      </div>
    </div>


    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/settings" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>

