.homeDiv {
  display: flex;
  justify-content: center;
  background-color: #1a74a3;
}

.container1 {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  border-radius: 5px;
  align-items: center;
  height: fit-content;
  padding: 0px;
  box-shadow: 12px 12px 5px #3a3a3a;
}

.h1 {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #3a3a3a;
  font-size: 50px;
  width: fit-content;
  padding: 50px;
}
